{
  "openapi": "3.0.4",
  "info": {
    "title": "inFlow Cloud API",
    "description": "# Overview\r\n\r\n## Introduction\r\nThe inFlow API allows you to read and write data to your inFlow. Like most modern APIs, it’s organized around REST and JSON, but there are some concepts to learn.\r\n\r\n## Getting access to the API\r\nYou will need:\r\n\r\n-   an active inFlow account with the API access add-on, or an inFlow trial\r\n-   administrator rights to that account\r\n\r\nThen, you can go to [https://app.inflowinventory.com/options/integrations](https://app.inflowinventory.com/options/integrations) and generate an API key. This API key grants access to your inFlow account (until revoked), so please keep it safe! You will also need your `companyId`, an identifier for your inFlow account, which is also available on that same page in the API keys section once an API key has been generated.\r\n\r\n## Support\r\nIf you need help, you can email us at [support@inflowinventory.com](mailto:support@inflowinventory.com).\r\n\r\nAlthough we will try to maintain API stability and reliability, we cannot make any guarantees.\r\n\r\n## Endpoint\r\nThe base URL for the inFlow API is https://cloudapi.inflowinventory.com/. HTTPS is required for security. Most API calls will also need your `companyId` in the route. The API does not support CORS for browser apps.\r\n\r\n## HTTP headers fields\r\nYou should set (at least) the following 3 HTTP header fields in your inFlow API calls (other headers may be set optionally, see below for more details)\r\n\r\n`Authorization: Bearer {YOUR_API_KEY_HERE}`\r\n\r\n`Content-Type: application/json`\r\n\r\n`Accept: application/json;version=2025-06-24`\r\n\r\nThe current API version is `2025-06-24`, which should be included in the Accept HTTP header. From time to time, we may need to make breaking changes on our API. Prior to this, if you have generated an API key, we will email all administrators of your inFlow account with information about this change.\r\n\r\n## Optional headers fields\r\nThere are some headers/tags you can send with your requests that can change default behavior of the API.\r\n\r\n`X-OverrideAllowNegativeInventory: TRUE` \r\n\r\nSetting this to true, will allow picking an amount of products that would make inventory levels in that location go into a negative quantity. By default this is `FALSE` and you will receive an error `422 - Negative Inventory` if not overridden.\r\n\r\n## Read requests\r\ninFlow API read requests use the HTTP GET verb and return one or more entities in JSON format.\r\n\r\n### Including related entities\r\nBy default, API calls to fetch an entity (e.g. a product) do not automatically fetch related entities (e.g. product prices or images). You can specify which entities to include by including a query parameter `Include`, separating the requested relationship entities with a comma. You can also specify nested relationships with a period.  \r\n\r\ne.g. `?include=inventoryLines.location,defaultImage`\r\n\r\n### Filtering\r\nMost API calls that return multiple entities offer several filtering options. Adding these to the query parameters will filter the returned results.\r\n\r\ne.g. `?filter[isActive]=true&filter[name]=shirt`\r\n\r\n## Write requests\r\ninFlow API write requests typically use the PUT HTTP verb and can be used for either inserting or updating entities from the body of the HTTP request.  \r\n\r\n### Inserting, updating, and identifiers\r\ninFlow entities use a globally unique identifier (GUID), also called a universally unique identifier (UUID). You should generate a new GUID when calling the API to insert a new entity (most programming languages will have a built-in or add-on package to do so), or reference an existing GUID to update an entity.\r\n\r\n### Optional properties\r\nMost entity properties are optional, and any missing properties will be set to default values when inserting, or left as-is when updating.\r\n\r\n### Timestamps\r\nMany inFlow entities include a `timestamp` property. This is a machine-readable stamp of when the entity was last modified which can be used for concurrency. If you include the timestamp property in your API write request, your request will fail if the timestamp is no longer the latest version, protecting you against making unintended modifications. To disable this feature, exclude the timestamp property in your API write request.\r\n\r\n## Rate limiting\r\nIf you send too many API requests in a short time, the inFlow API will return HTTP status code `429 Too Many Requests`.\r\n\r\nIf you encounter this limit, we encourage you to try to reduce the number of API calls required, or contact us for help if you are unable to do so.\r\n\r\nCurrently, the limit is set to 60 requests per minute but this is not yet finalized and may change.\r\n",
    "x-logo": {
      "url": "/redoc/inflow-logo.png",
      "altText": "inFlow Cloud"
    }
  },
  "servers": [
    {
      "url": "https://cloudapi.inflowinventory.com"
    }
  ],
  "paths": {
    "/{companyId}/adjustment-reasons/{adjustmentReasonId}": {
      "get": {
        "tags": [
          "AdjustmentReason"
        ],
        "summary": "Get adjustment reasons",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "adjustmentReasonId",
            "in": "path",
            "description": "The AdjustmentReasonId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdjustmentReasonObjectSubset"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/adjustment-reasons": {
      "get": {
        "tags": [
          "AdjustmentReason"
        ],
        "summary": "List adjustment reasons",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdjustmentReasonObjectSubset"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/categories/{categoryId}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get a category",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "categoryId",
            "in": "path",
            "description": "The categoryId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "List categories",
        "description": "Relationships can be included via the ```include``` query parameter.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/currencies": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "List currencies",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/currencies/{currencyId}": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Get a currency",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetDetailsRequest"
            }
          },
          {
            "name": "currencyId",
            "in": "path",
            "description": "The currencyId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/customers/{customerId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Get a customer",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "The customerId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/customers": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "List customers",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[name]```\n\n```filter[contactName]```\n\n```filter[phone]```\n\n```filter[email]```\n\n```filter[website]```\n\n```filter[address]```\n\n```filter[city]```\n\n```filter[state]```\n\n```filter[postalCode]```\n\n```filter[country]```\n\n```filter[pricingSchemeId]```\n\n```filter[defaultLocationId]```\n\n```filter[isActive]```\n\n```filter[smart]``` (search across name and contact name)\n\n```filter[lastOrder]``` (number of days since the customer has last ordered)\n\n",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "summary": "Insert or update a customer",
        "description": "```customerId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A customer to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/custom-field-definitions": {
      "get": {
        "tags": [
          "CustomFieldDefinitions"
        ],
        "summary": "Get custom field definitions",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow Cloud account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDefinition"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomFieldDefinitions"
        ],
        "summary": "Insert or update custom field definition",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow Cloud account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A custom field definition to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/custom-field-dropdown-options/{entityType}": {
      "get": {
        "tags": [
          "CustomFieldDefinitions"
        ],
        "summary": "Get all dropdown custom field options for an entity",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow Cloud account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "description": "The entity type of the custom field, e.g. ```product```",
            "required": true,
            "schema": {
              "enum": [
                "SalesOrder",
                "PurchaseOrder",
                "Product",
                "Vendor",
                "Customer",
                "CountSheet",
                "StockTransfer",
                "StockAdjustment",
                "StockCount",
                "ManufacturingOrder"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDropdownOptionsDetailsObjectSubset"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/custom-field-dropdown-options": {
      "put": {
        "tags": [
          "CustomFieldDefinitions"
        ],
        "summary": "Set custom field dropdown options",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow Cloud account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDropdownOptionsDetailsObjectSubset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDropdownOptionsDetails"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/custom-fields": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Get custom field labels",
        "description": "```customFieldsId``` refers to the companyID, not customfieldsID.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFields"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Insert or Update custom field labels",
        "description": "```customFieldsId``` refers to the companyID, not customfieldsID.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFields"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFields"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/locations/{locationId}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get a location",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "The locationId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/locations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "List locations",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/locations/{locationId}/suggested-sublocations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get suggested sublocations",
        "description": "Get a list of known sublocations within this location. Sublocations are typically represented just as a string, and do not need to be registered/created in advance.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "The location to fetch suggested sublocations for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestedSublocationsObjectSubset"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/locations/{locationId}/products/{productId}/suggested-sublocations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get suggested sublocations for a given product and location",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "The location to fetch suggested sublocations for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "description": "The product to fetch suggested sublocations and stock levels for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuggestedSublocationsWithInventoryObjectSubset"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/manufacturing-orders/{manufacturingOrderId}": {
      "get": {
        "tags": [
          "ManufacturingOrder"
        ],
        "summary": "Get a manufacture order",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "detailsRequest",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/GetDetailsRequest"
            }
          },
          {
            "name": "manufacturingOrderId",
            "in": "path",
            "description": "The manufacturingOrderId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturingOrder"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/manufacturing-orders": {
      "put": {
        "tags": [
          "ManufacturingOrder"
        ],
        "summary": "Insert or update a manufacture order",
        "description": "```manufacturingOrderId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fillDefaultBom",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "A manufacture order to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManufacturingOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturingOrder"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ManufacturingOrder"
        ],
        "summary": "List manufacture orders",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[manufacturingOrderNumber]```\n\n```filter[status] array of statuses```\n\n```filter[isPrioritized]```\n\n```filter[orderDate] ``` date range object with ```fromDate``` and ```toDate```\n\n```filter[dueDate] ``` date range object with ```fromDate``` and ```toDate```\n\n```filter[locationId]```\n\n```filter[assignedTo]```\n\n```filter[isActive]```\n\n",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ManufacturingOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/operation-types/{operationTypeId}": {
      "get": {
        "tags": [
          "OperationType"
        ],
        "summary": "Get an OperationType",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "operationTypeId",
            "in": "path",
            "description": "The operationTypeId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationTypeObjectSubset"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/operation-types": {
      "get": {
        "tags": [
          "OperationType"
        ],
        "summary": "List OperationTypes",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OperationTypeObjectSubset"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/payment-terms/{paymentTermsId}": {
      "get": {
        "tags": [
          "PaymentTerms"
        ],
        "summary": "Get payment terms",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentTermsId",
            "in": "path",
            "description": "The paymentTermsId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTerms"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/payment-terms": {
      "get": {
        "tags": [
          "PaymentTerms"
        ],
        "summary": "List payment terms",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentTerms"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/pricing-schemes/{pricingSchemeId}": {
      "get": {
        "tags": [
          "PricingScheme"
        ],
        "summary": "Get a pricing scheme",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pricingSchemeId",
            "in": "path",
            "description": "The pricingSchemeId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingScheme"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/pricing-schemes": {
      "get": {
        "tags": [
          "PricingScheme"
        ],
        "summary": "List pricing schemes",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PricingScheme"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/products/{productId}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get a product",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "description": "The productId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "List products",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[name]```\n\n```filter[description]```\n\n```filter[isActive]```\n\n```filter[barcode]```\n\n```filter[itemType]```\n\n```filter[categoryId]```\n\n```filter[lastModifiedDateTime]``` (Ex. filter[lastModifiedDateTime]={\"fromDate\":\"2022-01-01\", \"toDate\":\"2023-01-01\"}) \n\n```filter[smart]``` (full-text search on name, description, category, barcode and SKU)\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Insert or update product",
        "description": "```productId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A product to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/products/{productId}/summary": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get product inventory summary",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "description": "The productId to fetch information for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "description": "(Optional) the locationId to fetch information for",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSummaryResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/products/summary": {
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Get multiple product inventory summaries",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The product id, location id combinations to fetch information for. Up to 100 at a time",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductSummaryKey"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductSummaryResponseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/product-cost-adjustments/{productCostAdjustmentId}": {
      "get": {
        "tags": [
          "ProductCostAdjustment"
        ],
        "summary": "Get a product cost adjustment",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productCostAdjustmentId",
            "in": "path",
            "description": "The productCostAdjustmentId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCostAdjustment"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/product-cost-adjustments": {
      "get": {
        "tags": [
          "ProductCostAdjustment"
        ],
        "summary": "List product cost adjustments",
        "description": "Relationships can be included via the ```include``` query parameter.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductCostAdjustment"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProductCostAdjustment"
        ],
        "summary": "Insert or update product cost adjustment",
        "description": "```productCostAdjustmentId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A product cost adjustment to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCostAdjustment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCostAdjustment"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/purchase-orders": {
      "get": {
        "tags": [
          "PurchaseOrder"
        ],
        "summary": "List purchase orders",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[orderNumber]```\n\n```filter[inventoryStatus] array of statuses```\n\n```filter[paymentStatus]``` array of statuses\n\n```filter[vendorId]```\n\n```filter[orderDate] ``` date range object with ```fromDate``` and ```toDate```\n\n```filter[vendorOrderNumber]```\n\n```filter[locationId]```\n\n```filter[requestShipDate]``` date range object with ```fromDate``` and ```toDate```\n\n```filter[total]``` number range object with ```fromDate``` and ```toDate```\n\n```filter[balance]``` number range object with ```fromDate``` and ```toDate```\n\n```filter[isActive]```\n\n```filter[smart]``` (search on order number and vendor name)\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PurchaseOrder"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "PurchaseOrder"
        ],
        "summary": "Insert or update purchase order",
        "description": "```purchaseOrderId``` property is required, please generate a GUID when inserting.\n\n```vendorId``` property is required, which should be the primary identifier for a vendor.\n\n\nMany of the properties, e.g. Subtotal, and tax amounts, are optional and will be calculated by inFlow if you exclude the properties.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A purchase order to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/purchase-orders/{purchaseOrderId}": {
      "get": {
        "tags": [
          "PurchaseOrder"
        ],
        "summary": "Get a purchase order",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "purchaseOrderId",
            "in": "path",
            "description": "The purchaseOrderId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/sales-orders/{salesOrderId}": {
      "get": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Get a sales order",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesOrderId",
            "in": "path",
            "description": "The salesOrderId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/sales-orders": {
      "get": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "List sales orders",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[orderNumber]```\n\n```filter[inventoryStatus] array of statuses```\n\n```filter[paymentStatus]``` array of statuses\n\n```filter[customerId]```\n\n```filter[orderDate]``` date range object with ```fromDate``` and ```toDate```\n\n```filter[poNumber]```\n\n```filter[locationId]```\n\n```filter[requestedShipDate]``` date range object with ```fromDate``` and ```toDate```\n\n```filter[invoicedDate]``` date range object with ```fromDate``` and ```toDate```\n\n```filter[total]``` number range object with ```fromDate``` and ```toDate```\n\n```filter[balance]``` number range object with ```fromDate``` and ```toDate```\n\n```filter[isActive]```\n\n```filter[smart]``` (search on order number and customer name)\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalesOrder"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "SalesOrder"
        ],
        "summary": "Insert or update sales order",
        "description": "```salesOrderId``` property is required, please generate a GUID when inserting.\n\n```customerId``` property is required, which should be the primary identifier for a customer.\n\n```source``` property is required, which should be where this order originated from, i.e. the name of your app.\n\n\nMany of the properties, e.g. Subtotal, and tax amounts, are optional and will be calculated by inFlow if you exclude the properties.\n\n```X-OverrideAllowNegativeInventory: TRUE``` Setting this header to true will allow picking an amount of products that would make inventory levels in that location go into a negative. By default this is ```FALSE```.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A sales order to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stock-adjustments/{stockAdjustmentId}": {
      "get": {
        "tags": [
          "StockAdjustment"
        ],
        "summary": "Get a stock adjustment",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stockAdjustmentId",
            "in": "path",
            "description": "The stockAdjustmentId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockAdjustment"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stock-adjustments": {
      "get": {
        "tags": [
          "StockAdjustment"
        ],
        "summary": "List stock adjustments",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[adjustmentNumber]```\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockAdjustment"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "StockAdjustment"
        ],
        "summary": "Insert or update a stock adjustment",
        "description": "```stockAdjustmentId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A stock adjustment to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockAdjustment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockAdjustment"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stock-counts/{stockCountId}": {
      "get": {
        "tags": [
          "StockCount"
        ],
        "summary": "Get a stock count",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stockCountId",
            "in": "path",
            "description": "The stockCountId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockCount"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stock-counts": {
      "get": {
        "tags": [
          "StockCount"
        ],
        "summary": "List stock counts",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[stockCountNumber]```\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockCount"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "StockCount"
        ],
        "summary": "Insert or update a stock count",
        "description": "```StockCountId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A stock count to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockCount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockCount"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stock-counts/{stockCountId}/count-sheets/{countSheetId}": {
      "delete": {
        "tags": [
          "StockCount"
        ],
        "summary": "Delete a count sheet",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stockCountId",
            "in": "path",
            "description": "The stockCountId which contains the sheet to be deleted",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "countSheetId",
            "in": "path",
            "description": "The countSheetId to be deleted",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockCount"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/count-sheets/{countSheetId}": {
      "get": {
        "tags": [
          "StockCount"
        ],
        "summary": "Get a count sheet",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "countSheetId",
            "in": "path",
            "description": "The countSheetId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountSheet"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stock-counts/{stockCountId}/count-sheet": {
      "put": {
        "tags": [
          "StockCount"
        ],
        "summary": "Insert or update a count sheet",
        "description": "```CountSheetId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetDetailsRequest"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stockCountId",
            "in": "path",
            "description": "The stockCountId to insert or update the count sheet on",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The count sheet to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountSheet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountSheet"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stockroom-scans": {
      "get": {
        "tags": [
          "StockroomScan"
        ],
        "summary": "List stockroom scans",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[stockroomScanNumber]```\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow Cloud account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockroomScanObjectSubset"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "StockroomScan"
        ],
        "summary": "Insert or update a stockroom scan",
        "description": "```stockroomScanId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow Cloud account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A stockroom scan to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockroomScanObjectSubset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockroomScanObjectSubset"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stockroom-users/{stockroomUserId}": {
      "get": {
        "tags": [
          "StockroomUser"
        ],
        "summary": "Get stockroom users",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow Cloud account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stockroomUserId",
            "in": "path",
            "description": "The StockroomUserId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockroomUserObjectSubset"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stockroom-users": {
      "get": {
        "tags": [
          "StockroomUser"
        ],
        "summary": "List stockroom users",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow Cloud account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockroomUserObjectSubset"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stock-transfers/{stockTransferId}": {
      "get": {
        "tags": [
          "StockTransfer"
        ],
        "summary": "Get a stock transfer",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stockTransferId",
            "in": "path",
            "description": "The stockTransferId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockTransfer"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/stock-transfers": {
      "get": {
        "tags": [
          "StockTransfer"
        ],
        "summary": "List stock transfers",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[transferNumber]```\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockTransfer"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "StockTransfer"
        ],
        "summary": "Insert or update a stock transfer",
        "description": "```stockTransferId``` property is required, please generate a GUID when inserting.\n\n```fromLocationId``` property is required, please provide the location the products will be transferred from.\n\n```toLocationId``` property is required, please provide the location the products will be transferred to.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A stock transfer to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockTransfer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockTransfer"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/tax-codes/{taxCodeId}": {
      "get": {
        "tags": [
          "TaxCode"
        ],
        "summary": "Get a tax code",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "taxCodeId",
            "in": "path",
            "description": "The taxCodeId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCode"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/tax-codes": {
      "get": {
        "tags": [
          "TaxCode"
        ],
        "summary": "List tax codes",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaxCode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/taxing-schemes/{taxingSchemeId}": {
      "get": {
        "tags": [
          "TaxingScheme"
        ],
        "summary": "Get a taxing scheme",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "taxingSchemeId",
            "in": "path",
            "description": "The taxingSchemeId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxingScheme"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/taxing-schemes": {
      "get": {
        "tags": [
          "TaxingScheme"
        ],
        "summary": "List taxing schemes",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[name]```\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaxingScheme"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "TaxingScheme"
        ],
        "summary": "Insert or update taxing scheme",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A taxing scheme to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxingScheme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxingScheme"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/team-members": {
      "get": {
        "tags": [
          "TeamMember"
        ],
        "summary": "List team members in your inFlow account.",
        "description": "This only includes inFlow users, not other types (e.g. API keys) that can be returned by\n```LastModifiedBy```.",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamMember"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/vendors/{vendorId}": {
      "get": {
        "tags": [
          "Vendor"
        ],
        "summary": "Get a vendor",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "vendorId",
            "in": "path",
            "description": "The vendorId to be fetched",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/vendors": {
      "get": {
        "tags": [
          "Vendor"
        ],
        "summary": "List vendors",
        "description": "Relationships can be included via the ```include``` query parameter.\n\n\nOptions for filtering this list:\n\n```filter[name]```\n\n```filter[contactName]```\n\n```filter[phone]```\n\n```filter[email]```\n\n```filter[website]```\n\n```filter[address]```\n\n```filter[city]```\n\n```filter[state]```\n\n```filter[postalCode]```\n\n```filter[country]```\n\n```filter[isActive]```\n\n```filter[smart]``` (search across name and contact name)\n\n",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Additional query parameter options",
            "schema": {
              "$ref": "#/components/schemas/GetCollectionRequest"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vendor"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Vendor"
        ],
        "summary": "Insert or update a vendor",
        "description": "```vendorId``` property is required, please generate a GUID when inserting.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "A vendor to insert or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Vendor"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/webhooks": {
      "get": {
        "tags": [
          "WebHooks"
        ],
        "summary": "List all subscribed webhooks.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebHookSubscription"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WebHooks"
        ],
        "summary": "Subscribe to a webhook",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Additional query parameter options",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebHookSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookSubscription"
                }
              }
            }
          }
        }
      }
    },
    "/{companyId}/webhooks/{webHookId}": {
      "get": {
        "tags": [
          "WebHooks"
        ],
        "summary": "Get a webhook subscription",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "webHookId",
            "in": "path",
            "description": "Webhook ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookSubscription"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WebHooks"
        ],
        "summary": "Unsubscribe from a webhook.",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your inFlow account companyId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "webHookId",
            "in": "path",
            "description": "Webhook ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "address1": {
            "type": "string",
            "description": "The first line of the street address",
            "example": "36 Wonderland Ave."
          },
          "address2": {
            "type": "string",
            "description": "The second line of the street address",
            "example": "Unit 207"
          },
          "addressType": {
            "enum": [
              "Commercial",
              "Residential"
            ],
            "type": "string",
            "description": "Whether this is a residential or commercial address",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "The city of this address",
            "example": "Toronto"
          },
          "country": {
            "type": "string",
            "description": "The Country of this address",
            "example": "Canada"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code or zip code of this address",
            "example": "90210"
          },
          "remarks": {
            "type": "string",
            "description": "Any additional remarks about this address"
          },
          "state": {
            "type": "string",
            "description": "The state or province of this address",
            "example": "Ontario"
          }
        }
      },
      "AdjustmentReason": {
        "type": "object",
        "properties": {
          "adjustmentReasonId": {
            "type": "string",
            "description": "The primary identifier for this adjustment reason. <a href=\"#section/Overview/Write-requests\">When inserting, you should specify this by generating a GUID</a>. Not shown to users",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "isActive": {
            "type": "boolean",
            "description": "Adjustment reasons with ```IsActive = false``` are deactivated and hidden away for new usage."
          },
          "isInternal": {
            "type": "boolean",
            "description": "Whether this is a system-generated adjustment reason. Internal adjustment reasons cannot be modified. This is read-only."
          },
          "name": {
            "type": "string",
            "description": "A short description of this adjustment reason"
          }
        }
      },
      "AdjustmentReasonObjectSubset": {
        "type": "object",
        "properties": {
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "relationships": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/IObjectSubset"
              },
              "nullable": true
            },
            "nullable": true
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "attachmentId": {
            "type": "string",
            "description": "The attachmentId to be fetched.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "attachmentUrl": {
            "type": "string",
            "description": "The Url associated with the attachment"
          },
          "fileName": {
            "type": "string",
            "description": "The human-readable name for this attachment."
          },
          "fileSize": {
            "$ref": "#/components/schemas/Int64"
          },
          "lastModDttm": {
            "type": "string",
            "description": "The DateTimeOffset when this attachment was last modified.",
            "format": "date-time",
            "example": "2020-01-31"
          },
          "lastModifiedBy": {
            "$ref": "#/components/schemas/TeamMember"
          },
          "lastModifiedById": {
            "type": "string",
            "description": "The inFlow Team Member, system process, or API key that last modified this attachment.",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string",
            "description": "The primary identifier for this category. Not shown to users",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Only one category, your company-wide default, should have ```IsDefault = true```."
          },
          "name": {
            "type": "string",
            "description": "A human-readable name for this category.",
            "example": "Bestsellers"
          },
          "parentCategory": {
            "$ref": "#/components/schemas/Category"
          },
          "parentCategoryId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "timestamp": {
            "type": "string",
            "description": "You can optionally include the last-known timestamp when modifying to protect against concurrent modifications.",
            "format": "rowversion",
            "example": "0000000000310AB6"
          }
        }
      },
      "CountSheet": {
        "type": "object",
        "properties": {
          "assignedToTeamMember": {
[...]
